h1 {
    color: #654321;
}

h2 {
    color: black;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    justify-content: center;

    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;

}

.centerText {
    text-align: center;
}