body {
    background-color: #e6e600;
}

nav {
    position: fixed;
    background-color: #e6e600;
    width: 100%;
    top: 0;
    border-bottom-color: black;
    border-bottom-style: solid;
    padding:.3%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    display: inline;
    padding: 3%;
}

h1 {
    color: #654321;
}

h2 {
    color: black;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

figure {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img {
    display: inline;
    width: 30%;
    padding-left: 2%;
}

footer {

    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;

}

.centerText {
    text-align: center;
}